@charset "UTF-8";
/* chivo-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/chivo-v21-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* chivo-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/chivo-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green: #54e6af;
  --blue-950: #121725;
  --blue-900: #2c344b;
  --red: #fb3e3e;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;
  --white: #ffffff;
  --accent-color: var(--green);
  --text-white: var(--white);
  --container-max-width: 70rem;
  --container-width: 90%;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1100: 5.5rem;
  --spacing-1300: 6.5rem;
}

body {
  font-family: "Chivo", sans-serif;
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0;
  background-color: var(--blue-950);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.btn--solid {
  display: inline-flex;
  padding: var(--spacing-100) var(--spacing-400);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  border-radius: 100vw;
  background: var(--accent-color);
  box-shadow: 0 2px 4px 0 rgba(84, 230, 175, 0.14);
  color: var(--blue-950);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2em;
  border: none;
  cursor: pointer;
}
.btn--solid:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 100%), var(--accent-color);
}

.accent-text {
  color: var(--accent-color);
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-image-host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.bg-image-host::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.8;
  background: var(--accent-color);
}
.bg-image-host img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: screen;
}

.hero {
  position: relative;
  color: var(--text-white);
}
.hero .bg-image-dots {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.hero .logo {
  margin-bottom: var(--spacing-700);
}
.hero .text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}
.hero h1 {
  font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;
}
.hero p {
  color: var(--blue-300);
}
.hero .affiliates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-200);
  margin: var(--spacing-500) 0;
}
.hero form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.hero form input {
  border-radius: 100vw;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2em;
  color: var(--text-white);
  background-color: var(--blue-900);
  padding: var(--spacing-100) var(--spacing-400);
}
.hero form input::placeholder {
  color: var(--text-white);
  opacity: 0.5;
}