@use "fonts";
@use "reset";
@use "global";
@use "sass:map";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.hero {
  position: relative;

  .bg-image-host {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .bg-image-dots {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .logo {
    margin-bottom: var(--spacing-1300);
  }

  .affiliates {
    display: flex;
    justify-content: space-between;
    gap: clamp(var(--spacing-200), -0.4313rem + 6.1069vw, var(--spacing-500));
    max-width: 548px;
  }

  .content {
    padding-top: var(--spacing-1100);
    padding-right: var(--spacing-800);
    background-color: var(--blue-950);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    max-width: 46rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-200), 0.5229rem + 2.0356vw, var(--spacing-300));
    max-width: 41.5625rem;
    p {
      max-width: 28rem;
    }
  }

  .form-container {
    max-width: 28rem;
  }

  form {
    position: relative;
    width: 100%;

    button {
      position: absolute;
      right: 0;
    }
  }
}
