@use "fonts";
@use "reset";
@use "global";
@use "sass:map";

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  position: relative;
  text-align: center;
  flex-grow: 1;
  display: flex;
  place-items: center;
  .bg-image-host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      mix-blend-mode: screen;
      opacity: 0.1;
    }
  }

  .bg-image-dots {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-700), 2.4437rem + 4.507vw, var(--spacing-1300));
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--spacing-200), 0.5229rem + 2.0356vw, var(--spacing-300));
  }

  .affiliates {
    display: flex;
    justify-content: space-between;
    gap: clamp(var(--spacing-200), -0.4313rem + 6.1069vw, var(--spacing-500));
    max-width: 548px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }
}

@media (min-width: 48rem) {
  main {
    justify-content: flex-start;
  }

  .hero {
    text-align: start;
    flex-grow: 0;
    padding-top: 156px;
    .bg-image-host {
      left: auto;
      min-height: 0;
      min-width: 0;
      img {
        opacity: 1;
      }
    }

    .bg-image-dots {
      visibility: visible;
      height: auto;
      bottom: calc(-1 * 60px);
      right: calc(-1 * 130px);
    }

    .content {
      padding-top: var(--spacing-1100);
      padding-right: var(--spacing-800);
      background-color: var(--blue-950);

      max-width: 37rem;
    }

    .text {
      max-width: 41.5625rem;
      p {
        max-width: 28rem;
      }
    }

    .form-container {
      max-width: 28rem;
    }

    form {
      position: relative;
      width: 100%;

      button {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media (min-width: 64rem) {
  main {
    justify-content: center;
  }

  .hero {
    padding-top: 0;

    .bg-image-dots {
      right: 0;
      bottom: 0;
    }

    .content {
      max-width: 46rem;
    }
  }
}
